@using System.Data;
@model System.Data.DataTable
@{int line = 1;}

<div class="container" style="margin-top: 2vh; padding-bottom: 10vh;">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover" id="LinesTable">
                <thead>
                    <tr>
                        <th></th>
                        @foreach (DataColumn _column in Model.Columns)
                        {
                            <th>@(_column.ColumnName)</th>
                        }
                    </tr>
                </thead>
                <tbody>
                        @foreach (DataRow _row in Model.Rows)
                        {
                            var _lineId = "line" + line.ToString();
                            <tr>
                                <td style="white-space: nowrap; width: 1%;">
                                    <a data-toggle="modal" data-target="#editLine" onclick="EditLineData(@(line))">
                                        <i class="far fa-edit" style="font-size: 115%;"></i>
                                    </a>
                                    <a data-toggle="modal" data-target="#removeLine" onclick="RemoveLineData(@(line))">
                                        <i class="far fa-trash-alt" style="font-size: 115%;"></i>
                                    </a>
                                </td>

                                @foreach (DataColumn _col in Model.Columns)
                                {
                                    if (@ViewBag.PrimaryKey.Contains(_col.ColumnName))
                                    {
                                        <td id="PrimaryKey" style="white-space: nowrap; width: 1%;">@(_row[_col.ColumnName])</td>
                                    }
                                    else
                                    {
                                        <td style="white-space: nowrap; width: 1%;">@(_row[_col.ColumnName])</td>
                                    }
                                }
                            </tr>

                            line++;
                        }
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <a class="btn btn-primary col-xs-1" role="button" data-toggle="modal" data-target="#addLine" onclick="ResetLine()">
            Add line
        </a>
        <a class="btn btn-primary col-xs-1" role="button" asp-action="Index" asp-controller="Schema" style="margin-left: 1vw;">
            Back
        </a>
    </div>

    <input type="hidden" id="TableName" value="@(ViewBag.Table)">
</div>

<!-- Add line modal -->
<div class="modal fade" id="addLine" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add new Data</h3>
            </div>
            <div class="modal-body" id="addModalBody">
                <form class="form-horizontal" onsubmit="return Line('Add')" id="addLineForm" autocomplete="off">
                    @foreach (DataColumn _column in Model.Columns)
                    {
                        @if (ViewBag.AutoInc != _column.ColumnName)
                        {
                            <div class="form-group">
                                <label class="col-xs-3 control-label">@(_column.ColumnName)</label>
                                <div class="col-xs-9">
                                    <input class="form-control" id="@(_column.ColumnName)">
                                </div>
                            </div>
                        }
                    }
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Commit</button>
                        <a class="btn btn-default" onclick='$("#addLine").modal("toggle");'>Close</a>
                    </div>
                </form>
                
                <div class="hidden" id="addLineWork">
                    Working On It...
                    <div class="fa-3x text-center">
                        <i class="fas fa-cog fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit line modal -->
<div class="modal fade" id="editLine" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Line Data</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" autocomplete="off" id="editLineForm" onsubmit="return Line('Edit')">
                    @foreach (DataColumn _column in Model.Columns)
                    {
                        if (@ViewBag.AutoInc != _column.ColumnName)
                        {
                            <div class="form-group">
                                <label class="col-xs-3 control-label">@(_column.ColumnName)</label>
                                <div class="col-xs-9">
                                    <input class="form-control" id="@(_column.ColumnName)">
                                </div>
                            </div>
                        }
                    }
                    
                    <h3>Update Key</h3>
                    <hr />
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Column Name</label>
                        <div class="col-xs-9">
                            <input class="form-control" id="ElementName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Column Value</label>
                        <div class="col-xs-9">
                            <input class="form-control" id="ElementKey">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Commit</button>
                        <a class="btn btn-default" onclick='$("#editLine").modal("toggle");'>Close</a>
                    </div>
                </form>

                <div class="hidden" id="editLineWork">
                    Working On It...
                    <div class="fa-3x text-center">
                        <i class="fas fa-cog fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Remove line modal -->
<div class="modal fade" id="removeLine" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Remove Line Data</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" autocomplete="off" id="removeLineForm" onsubmit="return RemoveLine()">
                    <h3>Please confirm line data deletion</h3>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Column Name</label>
                        <div class="col-xs-9">
                            <input class="form-control" name="RemoveName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Column Value</label>
                        <div class="col-xs-9">
                            <input class="form-control" name="RemoveValue">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Commit</button>
                        <a class="btn btn-default" onclick='$("#removeLine").modal("toggle");'>Close</a>
                    </div>
                </form>

                <div class="hidden" id="removeLineWork">
                    Working On It...
                    <div class="fa-3x text-center">
                        <i class="fas fa-cog fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>