@using System.Linq;
@model Dictionary<string, List<Tuple<string, string>>>
@{ int _cnt = 1; }

@if (TempData.ContainsKey("Error"))
{
    <div class="row">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            <strong>@TempData["Error"]</strong>
        </div>
    </div>
}

<div style="padding-top: 5vh; padding-bottom: 10vh;
        border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    <div class="row">
        @foreach (var _table in Model)
        {
            <div class="col-xs-3">
                <div class="panel panel-info" style="border-radius: 0;">
                    <div class="panel-heading" style="border-radius: 0;">
                        @(_table.Key)
                        <a href="Table/Rename" data-toggle="modal" data-target="#renameTable" title="Rename Table"
                            onclick="return RenameTableModal('@(_table.Key)')" >
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <div class="pull-right">
                            <a asp-action="Index" asp-controller="Table" asp-route-Name="@(_table.Key)" title="Table data">
                                <i class="fas fa-search" style="font-size: 110%"></i>
                            </a>
                            <a href="Table/Drop" data-toggle="modal" data-target="#dropTable" title="Remove table"
                                onclick="return DropTableModal('@(_table.Key)')" >
                                <i class="fas fa-trash-alt" style="font-size: 110%"></i>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body" style="border-radius: 0;">
                        @if (_table.Value.Count != 0)
                        {
                            foreach (var _column in _table.Value)
                            {
                                if(_column != _table.Value.Last())
                                {
                                    <i class="fa fa-key"></i> <sapn>@(_column.Item1) @(_column.Item2.ToLower())</sapn>
                                    <br />
                                }
                                else
                                {
                                    <i class="fa fa-key"></i> <sapn>@(_column.Item1) @(_column.Item2.ToLower())</sapn>
                                }
                            }
                        }
                        else
                        {
                            <span>No Primary Key found</span>
                        }
                    </div>
                </div>
            </div>
            if (_cnt % 4 == 0)
            {
                <div class="clearfix"></div>
            }

            _cnt++;
        }
    </div>

    <hr />

    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-info" style="border-radius: 0;">
                <div class="panel-heading" style="border-radius: 0;">
                    Add Table
                </div>
                <div class="panel-body text-center" style="border-radius: 0;">
                    <a data-toggle="modal" data-target="#createTable" id="createTableLink" onclick="ResetTable()">
                        <i class="fa fa-plus-circle" style="font-size: 300%;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag.Type != "SQLite")
            {
                <a class="btn btn-primary" role="button" asp-action="Index" asp-controller="Databases">
                    Change Database
                </a>
            }
            <a class="btn btn-primary" role="button" asp-action="Index" asp-controller="Home">
                Change Connection
            </a>
        </div>
    </div>
</div>

<!-- New table modal -->
<div class="modal fade" id="createTable" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create New Table</h3>
            </div>
            <div class="modal-body">
                <div id="createTableError"></div>
                <form class="form-horizontal" onsubmit="return CreateTable()" id="createTableForm" autocomplete="off">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Table Name</label>
                        <div class="col-xs-9">
                            <input class="form-control" id="TableName">
                        </div>
                    </div>
                    <hr />
                    <div id="createTableFields">
                        <!-- JS generated field lines -->
                    </div>

                    <div>
                        <input type="hidden" id="SqlType" value="@(ViewBag.Type)">
                        <a href="" onclick="return AddField()">Add Field</a>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Commit</button>
                        <a class="btn btn-default" onclick='$("#createTable").modal("toggle");'>Close</a>
                    </div>
                </form>
                
                <div class="hidden" id="createTableWork">
                    Working On It...
                    <div class="fa-3x text-center">
                        <i class="fas fa-cog fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Rename table modal -->
<div class="modal fade" id="renameTable" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Rename Table</h3>
            </div>
            <div class="modal-body">
                <div id="renameTableError"></div>
                <form class="form-horizontal" onsubmit="return RenameTable()" id="renameTableForm" autocomplete="off">
                    <div class="form-header" id="provideNameHeader">
                        <!-- Populated from javascript -->
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9">
                            <input class="form-control" id="tableNewName">
                        </div>
                    </div>
                        
                    <input type="hidden" id="tableOldName">

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Commit</button>
                        <a class="btn btn-default" onclick='$("#renameTable").modal("toggle");'>Close</a>
                    </div>
                </form>
                
                <div class="hidden" id="renameTableWork">
                    Working On It...
                    <div class="fa-3x text-center">
                        <i class="fas fa-cog fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Drop table modal -->
<div class="modal fade" id="dropTable" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Drop Table</h3>
            </div>
            <div class="modal-body">
                <div id="dropTableError"></div>
                <form class="form-horizontal" onsubmit="return DropTable()" id="dropTableForm" autocomplete="off">
                    <div class="form-header" id="dropTableHeader">
                        <!-- populated from js -->
                    </div>

                    <input type="hidden" id="dropTableName">

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Commit</button>
                        <a class="btn btn-default" onclick='$("#dropTable").modal("toggle");'>Close</a>
                    </div>
                </form>
                
                <div class="hidden" id="dropTableWork">
                    Working On It...
                    <div class="fa-3x text-center">
                        <i class="fas fa-cog fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>